<div ng-app="cartApp" ng-controller="formCtrl">
	<form novalidate>
	  Product's Name:<br>
	  <input type="text" ng-model="user.productName1"><br>
	  Product's quantity:<br>
	  <input type="number" ng-model="user.productquantity1"><br>
	  Product Price: <br>
	  <input type="number" ng-model="user.productprice1"></br>
	  <br><br>
	  <button ng-click="reset()">RESET</button>
	</form>
	<p>form = {{user}}</p>
	<p>master = {{master}}</p>
</div>